<%= form_for(@gist) do |f| %>
  <% if @gist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gist.errors.count, "error") %> prohibited this gist from being saved:</h2>

      <ul>
      <% @gist.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <% @gist.gist_blobs.each do |gb| %>
    <div>
      <%= fields_for(gb) do |gf| -%>
      <% n = "gist[gist_blobs_attributes][]" -%>
      <%= gf.text_field 'name', :name => "#{n}[name]" -%>
      <%= gf.text_area 'blob', :name => "#{n}[blob]" -%>
      <%- end -%>
    </div>
  <% end %>

  <div>
    <%= fields_for(GistBlob.new) do |gf| -%>
    <% n = 'gist[gist_blobs_attributes][]' -%>
    <%= gf.text_field 'name', :name => "#{n}[name]" -%>
    <%= gf.text_area 'blob', :name => "#{n}[blob]" -%>
    <%- end -%>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
