<%= form_for(@gist) do |f| %>
  <fieldset>
  <% if @gist.errors.any? %>
    <div id="error_explanation">
      <%# TODO improve error display %>
      <strong><%= pluralize(@gist.errors.count, "error") %> prohibited this gist from being saved:</strong>

      <ul>
      <% @gist.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <div class="controls">
      <%= f.text_field 'description', title: 'gist description', placeholder: 'description', class: 'input-xlarge' -%>
    </div>
  </div>

  <hr/>

  <% @gist.gist_blobs.each do |gb| %>
     <%= render partial: 'gist_blob', object: gb, locals: {f: f } %>
  <% end %>

  <div class="empty">
    <%= render partial: 'gist_blob', object: GistBlob.new, locals: {f: f} %>
  </div>

  <div class="control-group">
    <div class="controls">
      <span rel="addBlob" class="pull-right action act-primary" title="add file"><i class="icon-plus-sign icon-large"></i></span>
    </div>
  </div>

</fieldset>


  <div class="form-actions actions">
    <%= f.submit %>
  </div>
<% end %>
