<%= form_for(@gist) do |f| %>
  <% if @gist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gist.errors.count, "error") %> prohibited this gist from being saved:</h2>

      <ul>
      <% @gist.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%- n = 'gist[gist_blobs_attributes][]' %>
    <%= blobs.text_field 'name', :name => "#{n}[name]" %>
    <%= blobs.text_area 'blob', :name => "#{n}[blob]" %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
