<h1>Gists</h1>

<% if @gists.empty? %>

  be the first to <%= link_to "create one", [:new, :gist] %>

<% else %>

<% @gists.each do |gist| %>

  <div class="gist" data-gist_id="<%= gist.id %>">
    <h4>
      <%= link_to i('book', "##{gist.id}"), gist %>
      <%= gist.description %> 
    </h4>
    <div class="syntax">
      <%= gist.to_preview_html %> 
    </div>

    <hr />
  </div>
<% end %>
<% end %>
