<h1>Gists</h1>

<% if @gists.empty? %>

  be the first to <%= link_to "create one", [:new, :gist] %>

<% else %>

<% @gists.each do |gist| %>

  <div class="gist" data-gist_id="<%= gist.id %>">
    <div>
      <%= link_to "##{gist.id}", gist %>
      <%= gist.description %> 
    </div>
    <div class="syntax">
      <%= gist.to_preview_html %> 
    </div>
  </div>
<% end %>
<% end %>
