<h2>Gists</h2>

<% if @gists.empty? %>

  be the first to <%= link_to "create one", [:new, :gist] %>

<% else %>

<% @gists.each do |gist| %>

  <div class="row gist" data-gist_id="<%= gist.id %>">
    <div class="span6">
      <h4>
        <%= link_to i('book', "##{gist.id}"), gist %>
        <%= gist.description %> 
      </h4>
    </div>

    <div class="span3">
    </div>

    <div class="span9 syntax">
      <%= gist.to_preview_html %>
    </div>

  </div>
<% end %>

<%= paginate @gists, theme: 'bootstrap', first: false, last: false %>

<% end %>
