<h1>Listing gists</h1>

<table>
  <tr>
    <th>id </th>
    <th>actions </th>
  </tr>

<% @gists.each do |gist| %>

  <tr class="gist" data-gist_id="<%= gist.id %>">
    <td><%= gist.id %> </td>
    <td><%= link_to 'Show', gist %>
        <%= link_to 'Edit', edit_gist_path(gist) %>
        <%= link_to 'Destroy', gist, method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Gist', new_gist_path %>
