<p id="notice"><%= notice %></p>

<%- @gist.gist_blobs.each do |b| %>

  <h1> <%= b.name %> </h1>
  <pre><%= b.blob %> </pre>

<% end %>


<%= link_to 'Edit', edit_gist_path(@gist) %>
| <%= link_to 'Destroy', @gist, method: :delete, data: { confirm: 'Are you sure?' } %>
| <%= link_to 'Back', gists_path %>
