
<% content_for :sidebar do %>
  <%= render partial: 'revisions', locals: { gist: @gist } %>
<% end %>

<h2><span><%= i('book') %></span> Gist #<%= @gist.id %></h2>



<div class="row">
  <div class="btn-group span3 pull-right text-pull-right">

    <%= link_to i('edit',  "Edit"), edit_gist_path(@gist), class: 'btn btn-primary' %>

    <button class="btn dropdown-toggle btn-primary" data-toggle="dropdown">
      <span class="caret"></span>
    </button>

    <ul class="dropdown-menu">
      <li> <%= link_to i('trash', "Destroy"), @gist,              class: '', method: :delete, data: { confirm: 'Are you sure?' } %>
      </li>
    </ul>

  </div>
</div>

<div class="gist">

  <table class="table table-bordered meta" cellpadding="0" cellspacing="0">
  <tbody>
    <tr class="info">
      <th class="span2"> description </th>
      <td> <%= @gist.description %> </td>
    </tr>
    <tr class="info">
      <th class="span2"> public clone url</th>
      <td> <a href="<%= url = public_clone_url(@gist) %>"> <%= url %> </a> </td>
    </tr>
  </tbody>
  </table>

  <%- @gist.gist_blobs.each do |b| %>

    <div class="file">
    <div class="meta"> <%= i('file', b.name) %> </div>
    <div class="data syntax"> <%= b.to_formatted_html %> </div>
    </div>

  <% end %>

</div>

