<h1> Gist #<%= @gist.id %> </h1>

<p>
  <%= link_to 'Edit', edit_gist_path(@gist), class: 'btn btn-primary' %>
  <%= link_to 'Destroy', @gist,              class: 'btn btn-inverse', method: :delete, data: { confirm: 'Are you sure?' } %>
</p>

<div class="well">

  <%- @gist.gist_blobs.each do |b| %>

    <h1> <%= b.name %> </h1>
    <pre><%= b.blob %> </pre>

  <% end %>

</div>

